@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");
@font-face {
  font-family: "Vintage Wheel Free Trial";
  src: url("../fonts/VintageWheelFreeTrial.otf"); }
/*Обнуляющий код*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*Обнуляющий код*/
.container {
  margin: 0 auto;
  max-width: 1980px;
  padding: 5px; }

body {
  background-color: #d4d4d4; }

/*"Шапка" сайту*/
#current {
  color: rgba(165, 42, 42, 0.9); }
  #current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    content: ".";
    color: transparent;
    background: rgba(165, 42, 42, 0.9);
    height: 1px; }

.header {
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.5); }
  .header__logo {
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: "Vintage Wheel Free Trial", sans-serif;
    margin-bottom: 25px;
    color: black; }
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    position: relative; }
    .header__nav ul {
      position: relative; }
      .header__nav ul li:hover > ul {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        max-height: 500px;
        transition: max-height 0.25s ease-in; }
      .header__nav ul ul {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
        background: #d5d5d5;
        position: absolute;
        margin-top: 5px;
        width: 240px; }
        .header__nav ul ul li {
          float: none;
          display: list-item;
          position: relative;
          z-index: 2;
          transition: all 0.5s;
          margin: 20px 0 20px 10px; }
          .header__nav ul ul li a {
            font-size: 20px; }
  .header__item a {
    font-family: "Roboto Slab", serif;
    position: relative;
    font-size: 25px;
    color: inherit;
    transition: all 0.5s;
    text-transform: uppercase; }
    .header__item a:hover {
      color: rgba(165, 42, 42, 0.9); }
    .header__item a::before, .header__item a::after {
      transition: all 0.5s; }
    .header__item a::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: rgba(165, 42, 42, 0.9);
      height: 1px; }
    .header__item a:hover::after {
      width: 100%; }
  .header__slider {
    z-index: 2;
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 540px;
    margin-bottom: 15px;
    z-index: -1; }
    .header__slider-item {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }
      .header__slider-item img {
        object-fit: cover;
        width: 100%;
        height: 540px;
        border: none !important;
        box-shadow: none !important; }
    .header__slider-dots {
      text-align: center;
      margin-bottom: 20px; }
    .header__slider-dots-item {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: #bcbcbc;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      transition: opacity 0.3s ease; }
      .header__slider-dots-item.active {
        background-color: gray; }
      .header__slider-dots-item:hover {
        opacity: 0.5; }
  .header .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .header .prev, .header .next {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    height: 550px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  .header .prev:hover, .header .next:hover {
    background-color: rgba(143, 143, 143, 0.8); }

/*"Шапка" сайту*/
/*"Підвал" сайту*/
.footer {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 10px 30px 10px; }
  .footer__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px; }
  .footer__contacts {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 1.5; }
    .footer__contacts span {
      font-weight: bold; }
  .footer__title {
    font-family: "Montserrat", sans-serif;
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px; }
  .footer__nav {
    position: relative;
    line-height: 30px; }
    .footer__nav ul {
      position: relative; }
      .footer__nav ul li:hover > ul {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      .footer__nav ul ul {
        width: 230px;
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
        background: #d5d5d5;
        position: absolute;
        margin: -25px 0 0 198px; }
        .footer__nav ul ul li {
          float: none;
          display: list-item;
          position: relative;
          z-index: 2;
          transition: all 0.5s;
          margin: 5px 10px 0 8px; }
          .footer__nav ul ul li a {
            font-size: 20px; }
  .footer__disclaimer {
    text-align: center;
    color: red;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  .footer__item a {
    font-family: "Roboto Slab", serif;
    position: relative;
    font-size: 20px;
    color: inherit;
    transition: all 0.5s;
    text-transform: uppercase; }
    .footer__item a:hover {
      color: rgba(165, 42, 42, 0.9); }
    .footer__item a::before, .footer__item a::after {
      transition: all 0.5s; }
    .footer__item a::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: rgba(165, 42, 42, 0.9);
      height: 1px; }
    .footer__item a:hover::after {
      width: 100%; }

/*"Підвал" сайту*/
@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
