//Шрифти
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@font-face {
	font-family: "Vintage Wheel Free Trial";
	src: url("../fonts/VintageWheelFreeTrial.otf");
}

/*Обнуляющий код*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*Обнуляющий код*/

.container {
	margin: 0 auto;
	max-width: 1980px;
	padding: 5px;
}
body {
	&.lock {
		overflow: hidden;
	}
	background-color: rgb(212, 212, 212);
}

/*"Шапка" сайту*/
#current {
	color: rgba(165, 42, 42, 0.9);
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		content: ".";
		color: transparent;
		background: rgba(165, 42, 42, 0.9);
		height: 1px;
	}
}
#header__toggle {
	display: none;
}
.header {
	position: relative;
	z-index: 1;
	margin-bottom: 35px;
	background-color: rgba(255, 255, 255, 0.5);
	&__logo {
		display: flex;
		justify-content: center;
		font-size: 75px;
		font-family: "Vintage Wheel Free Trial", sans-serif;
		margin-bottom: 25px;
		color: black;
	}
	&__nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 30px;
		position: relative;
		& ul {
			position: relative;
			& li:hover {
				& > ul {
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
					max-height: 500px;
					transition: max-height 0.25s ease-in;
				}
			}
			& ul {
				max-height: 0;
				transition: max-height 0.15s ease-out;
				overflow: hidden;
				background: #d5d5d5;
				position: absolute;
				margin-top: 5px;
				width: auto;

				& li {
					float: none;
					display: list-item;
					position: relative;
					z-index: 2;
					transition: all 0.5s;
					margin: 20px 15px 20px 10px;
					& a {
						font-size: 20px;
						padding-bottom: 3px;
					}
				}
			}
		}
	}
	&__item {
		& a {
			font-family: "Roboto Slab", serif;
			position: relative;
			font-size: 25px;
			color: inherit;
			transition: all 0.5s;
			text-transform: uppercase;
			&:hover {
				color: rgba(165, 42, 42, 0.9);
			}
			&::before,
			&::after {
				transition: all 0.5s;
			}
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: ".";
				color: transparent;
				background: rgba(165, 42, 42, 0.9);
				height: 1px;
			}
			&:hover::after {
				width: 100%;
			}
		}
	}
}
/*"Шапка" сайту*/

/*"Підвал" сайту*/
.footer {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px 10px 30px 10px;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 60px;
	}
	&__contacts {
		font-family: "Montserrat", sans-serif;
		font-size: 17px;
		line-height: 1.5;
		& span {
			font-weight: bold;
		}
	}
	&__title {
		font-family: "Montserrat", sans-serif;
		margin: 0 0 10px 0;
		text-align: center;
		font-weight: 700;
		font-size: 20px;
	}
	&__nav {
		position: relative;
		line-height: 30px;
		& ul {
			position: relative;
			& li:hover {
				& > ul {
					max-height: 500px;
					transition: max-height 0.25s ease-in;
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				}
			}
			& ul {
				width: 230px;
				max-height: 0;
				transition: max-height 0.15s ease-out;
				overflow: hidden;
				background: #d5d5d5;
				position: absolute;
				margin: -25px 0 0 198px;
				& li {
					float: none;
					display: list-item;
					position: relative;
					z-index: 2;
					transition: all 0.5s;
					margin: 5px 10px 0 8px;
					& a {
						font-size: 20px;
					}
				}
			}
		}
	}
	&__disclaimer {
		text-align: center;
		color: red;
		font-size: 19px;
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
	}
	&__item {
		& a {
			font-family: "Roboto Slab", serif;
			position: relative;
			font-size: 20px;
			color: inherit;
			transition: all 0.5s;
			text-transform: uppercase;
			&:hover {
				color: rgba(165, 42, 42, 0.9);
			}
			&::before,
			&::after {
				transition: all 0.5s;
			}
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: ".";
				color: transparent;
				background: rgba(165, 42, 42, 0.9);
				height: 1px;
			}
			&:hover::after {
				width: 100%;
			}
		}
	}
}
/*"Підвал" сайту*/

.popup-form {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	&__topic {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		color: rgba(165, 42, 42, 0.9);
	}
	&__content {
		position: relative;
		font-family: "Roboto Slab", serif;
		background-color: #ffff;
		color: black;
		font-size: 20px;
		padding: 30px;
		max-width: 900px;
		opacity: 0;
		transform: translate(0, -100%) rotateX(45deg);
		transition: all 0.8s ease 0s;
	}
	&.open {
		opacity: 1;
		visibility: visible;
		& .popup-form__content {
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		& i {
			font-size: 32px;
			color: rgba(165, 42, 42, 0.9);
			transition: 0.5s;
			&:hover {
				transform: scale(1.3);
			}
		}
	}
	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
		transition: all 0.8s ease 0s;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.good {
			justify-content: inherit;
		}
	}
	& input[type="text"],
	& input[type="email"] {
		width: 90%;
		margin-bottom: 20px;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 3px;
		transition: 0.5s;
		&:focus {
			transform: scale(1.1);
		}
	}
	& input[id="zip"] {
		width: 80%;
	}
	& input[id="model"] {
		width: 79%;
	}
	& input[id="color"] {
		width: 220px;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& button {
			background: rgba(165, 42, 42, 0.9);
			color: white;
			padding: 12px;
			margin: 10px 0;
			border: none;
			width: 47%;
			border-radius: 3px;
			cursor: pointer;
			font-size: 17px;
			font-weight: bold;
			transition: 0.5s;
			border: 2px solid rgba(165, 42, 42, 0.9);
			& a {
				padding: 12px;
				width: 47%;
			}
			&:active {
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}
			&:hover {
				background-color: inherit;
				border: 2px solid rgba(165, 42, 42, 0.9);
				color: rgba(165, 42, 42, 0.9);
			}
		}
	}
	&__icon-container {
		margin-bottom: 26px;
		padding: 7px 0;
		font-size: 24px;
	}
	&__label {
		font-size: 20px;
		line-height: 38px;
		color: #7b1f1f;
		margin: 0 0 15px 0;
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
		&.good-title {
			margin-right: 7px;
		}
	}
	&__title {
		text-align: center;
		font-size: 30px;
		margin-bottom: 30px;
		text-transform: uppercase;
		color: rgba(165, 42, 42, 0.9);
		position: relative;
		padding-bottom: 10px;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			content: ".";
			color: transparent;
			background: rgba(165, 42, 42, 0.9);
			height: 1px;
		}
	}
	& label {
		margin-bottom: 10px;
		display: block;
	}
}

//Анімація слайдера
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@media (max-width: 1250px) {
	.header {
		&__toggle-back {
			position: fixed;
			top: 15px;
			left: 13px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: lightgray;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}
		&__toggle-close {
		}
		&__btn {
			position: fixed;
			top: 35px;
			left: 20px;
			width: 26px;
			height: 20px;
			cursor: pointer;
			z-index: 4;
			& > span,
			& > span::before,
			& > span::after {
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #616161;
				transition-duration: 0.25s;
			}
			& > span::before {
				content: "";
				top: -8px;
			}
			& > span::after {
				content: "";
				top: 8px;
			}
		}
		&__nav {
			display: block;
			position: fixed;
			z-index: 3;
			top: 0;
			left: -100%;
			width: 300px;
			height: 100%;
			margin: 0;
			padding: 65px 0;
			list-style: none;
			background-color: #eceff1;
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
			transition-duration: 0.25s;
			& ul {
				position: relative;
				& ul {
					width: 80%;
					margin: -37px 0 0 276.3px;
				}
			}
		}
		&__item {
			display: block;
			padding: 12px 24px;
			color: #333;

			text-decoration: none;
			transition-duration: 0.25s;
			&:hover {
				background-color: #cfd8dc;
			}
		}
	}

	#header__toggle {
		display: block;
		position: fixed;
		top: 25px;
		left: 18px;
		height: 25px;
		width: 30px;
		z-index: 5;
		opacity: 0;
		&:checked {
			& + .header__btn {
				& > span {
					transform: rotate(45deg);
					&::before {
						top: 0;
						transform: rotate(0deg);
					}
					&::after {
						top: 0;
						transform: rotate(90deg);
					}
				}
			}
			& ~ .header__nav {
				left: 0 !important;
			}
		}
	}
}
@media (max-width: 850px) {
	.footer {
		&__nav {
			display: none;
		}

		&__row {
			flex-direction: column;
		}
	}
}
@media (max-width: 725px) {
	.popup-form {
		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
		& input[id="state"] {
			width: 94%;
		}
		& input[id="zip"] {
			width: 94%;
			margin-bottom: 30px;
		}
		& input[id="model"] {
			width: 220px;
		}
		& input[id="expdate"] {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 426px) {
	.header {
		&__nav {
			& ul {
				position: relative;
				& ul {
					margin: 0px 0 0 0;
					z-index: 3;
				}
			}
		}
	}	
}
