/*Шрифти*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
/*Шрифти*/

/*"Тіло" сайту*/
.block-one {
	height: 900px;
	margin-bottom: 85px;
	&__title {
		font-size: 30px;
		line-height: 38px;
		color: rgb(123, 31, 31);
		text-align: center;
		margin: 0 0 15px 0;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		text-transform: uppercase;
	}
	&__description {
		display: block;
		font-size: 25px;
		line-height: 1.5;
		width: 75%;
		text-align: justify;
		margin: 0 auto 45px auto;
		font-family: "Montserrat", sans-serif;
		padding: 0 0 20px 0;
		border-bottom: 1px solid gray;
		font-weight: 400;
	}
	&__slides {
		max-width: 90%;
		position: relative;
		margin: auto;
		height: 300px;
		margin-bottom: 15px;
		&-dots {
			text-align: center;
			margin-top: 20px;
		}
		&-dots-item {
			cursor: pointer;
			height: 12px;
			width: 12px;
			margin: 0 2px;
			background-color: rgb(188, 188, 188);
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
			transition: opacity 0.3s ease;
			&.active {
				background-color: rgb(128, 128, 128);
			}
			&:hover {
				opacity: 0.5;
			}
		}
		& .next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}
		& .prev,
		& .next {
			display: flex;
			align-items: center;
			cursor: pointer;
			position: absolute;
			top: 40%;
			width: auto;
			margin-top: -22px;
			padding: 16px;
			height: 450px;
			color: rgb(255, 255, 255);
			font-weight: bold;
			font-size: 45px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
		}
		& .prev:hover,
		& .next:hover {
			background-color: rgba(143, 143, 143, 0.8);
		}
	}
	&__item {
		-webkit-animation-name: hide;
		-webkit-animation-duration: 1.5s;
		animation-name: hide;
		animation-duration: 1.5s;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__label {
		font-family: "Montserrat", sans-serif;
		margin: 0 0 10px 0;
		text-align: center;
		font-weight: 500;
		font-size: 25px;
		color: rgb(123, 31, 31);
	}
	&__table {
		font-size: 18px;
		margin: 0 0 20px 0;
		& caption {
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			margin: 10px 0 20px 0;
			font-size: 19px;
		}
		& tbody {
			font-family: "Montserrat", sans-serif;
			& td {
				width: 350px;
				&:first-of-type {
					width: 250px;
				}
				padding: 0 10px 4px 0;
			}
		}
	}
	&__img {
		margin: 0 5% 0 0;
		& .hide {
			font-family: "Montserrat", sans-serif;
			text-align: center;
			font-size: 13px;
		}
		&:active {
			& .hide {
				opacity: 0;
			}
		}
		& img {
			height: 600px;
			color: black;
			transition: 0.7s;
			cursor: pointer;

			&:active {
				backdrop-filter: blur(5px);
				transform: rotate(90deg) scale(2.2) translate3d(30px, -155px, 20px);
			}
		}
	}
	&__price {
		font-family: "Montserrat", sans-serif;
		font-size: 19px;
		text-align: center;
		font-weight: 500;
	}
}
.guitar-color {
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		font-weight: 500;
	}
}
/*"Тіло" сайту*/

@-webkit-keyframes hide {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@keyframes hide {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

